:root {
  --base: white;
}

html {
  font-family: Verdana, sans-serif;
}

body {
  background-color: bisque;
}

.page-container {
  margin: auto;
  width: 60%;
}

.page-container nav {
  display: grid;
  grid-template-columns: auto auto auto;

  background: linear-gradient(rgb(78, 156, 207), rgb(78, 156, 207, 0.6));
  background-color: linear-gradient(rgb(78, 156, 207));
  box-shadow: 0 0 4px 2px rgba(0, 0, 128, 0.4);

  padding: 6px;
  text-align: center;
}
.page-container nav a {
  border-color: navy;
  border-style: solid;
  border-width: 0 2px 0 0;

  box-shadow: 0 0 4px 2px rgba(0, 0, 128, 0.4);

  text-decoration: dotted;
  text-decoration-line: underline;
  color: navy;
}
.page-container nav a:hover {
  color: rgb(0, 81, 255);
  cursor: pointer;
}


::-webkit-scrollbar {
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 128, 0.3); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: navy; 
}